<template>
    <v-container fluid>
        <v-card>
            <v-card-title>Първи стъпки</v-card-title>
            <v-card-text>
                <video  @ended="onEnd" controls width="100%" height="100%">
                   <source src="/videos/tutorial.mkv" type="video/mp4">
                </video>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "Tutorial",
        methods:{
            onEnd(){
                localStorage.setItem('tut',true);
                this.$router.push('/library');
            }
        }
    }
</script>

<style scoped>

</style>
