<template>
    <v-container fluid>
        <v-card>
            <v-card-title>Въстановяване на паролата</v-card-title>
            <v-card-text>
                <v-text-field
                    label="Нова парола"
                    type="password"
                    v-model="password"
                >

                </v-text-field>
                <v-text-field
                    type="password"
                    label="Повтори нова парола"
                    v-model="repeat_password"
                >

                </v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-btn rounded outlined color="green" @click="resetPassword">Обвнови парола</v-btn>
            </v-card-actions>
        </v-card>
        <v-card-text>

        </v-card-text>
    </v-container>
</template>

<script>
    export default {
        name: "PasswordReset",
        props:['code'],
        data:()=>({
            password:'',
            repeat_password:''
        }),
        methods:{
            resetPassword(){
                let app = this;
                if(this.password == ''){
                    this.$EventBus.$emit("message",{
                        type:"err",
                        text:"Моля въведи парола"
                    });
                    return;
                }

                if(this.password != this.repeat_password){
                    this.$EventBus.$emit("message",{
                        type:"err",
                        text:"Провери дали двете пароли съвпадат"
                    });
                    return;
                }

                if(!this.code){
                    this.$EventBus.$emit("message",{
                        type:"err",
                        text:"Моля въведи правилен код"
                    });
                    return;
                }

                if(this.password.length < 8){
                    this.$EventBus.$emit("message",{
                        type:"err",
                        text:"Дължината на паролата трябва да бъде от минимум 8 знака"
                    });
                    return
                }
                this.post('/auth/user/password/reset/code/', {
                    password:this.password,
                    code:this.code
                }).then(resp=>{
                    app.$store.commit('unsetUser');
                    localStorage.access_token = null;
                    app.$EventBus.$emit("message",{
                        type:"succ",
                        text:"Успешно е променена паролата"
                    });
                    app.$router.push('/');
                }).catch(err=>{
                    alert(err);
                })

            }
        }
    }
</script>

<style scoped>

</style>
