<template>
<v-container
    fluid
>
 <v-card

 >
     <v-card-title>Профил</v-card-title>
     <v-list>
         <v-list-item>
             <v-list-item-title>Име:{{user.name}} </v-list-item-title>
             <v-list-item-action>
                 <v-btn icon>
                     <v-icon>mdi-pencil-outline</v-icon>
                 </v-btn>
             </v-list-item-action>
         </v-list-item>
         <v-list-item>
             <v-list-item-title>Потребителско име:{{user.username}} </v-list-item-title>
             <v-list-item-action>
                 <v-btn icon>
                     <v-icon>mdi-pencil-outline</v-icon>
                 </v-btn>
             </v-list-item-action>
         </v-list-item>
         <v-list-item>
             <v-list-item-title>Email:{{user.email}} </v-list-item-title>
             <v-list-item-action>
                 <v-btn icon>
                     <v-icon>mdi-pencil-outline</v-icon>
                 </v-btn>
             </v-list-item-action>
         </v-list-item>
     </v-list>
     <v-card-actions>
        <v-spacer></v-spacer>
         <v-btn outlined rounded @click="change = !change" color="primary">
             Промени парола
             <v-icon color="purple">mdi-chevron-down</v-icon>
         </v-btn>

     </v-card-actions>
     <v-expand-transition>
         <div v-show="change">
             <v-divider></v-divider>

             <v-card-text>
                 <v-btn outlined rounded @click="changePassword()" color="green">Поискай линк за смяна на паролата</v-btn>
                <h1 class="title">За да промениш паролата си, последвай линка който ти е изпратен на email-a</h1>

             </v-card-text>
         </div>
     </v-expand-transition>
 </v-card>

</v-container>
</template>

<script>
    export default {
        name: "Profile",
        data:()=>({
            user:{},
            change:false
        }),
        methods:{
            changePassword(){
                this.post('/auth/user/password/reset/',{});
            }
        },
        created() {
            this.user = this.$store.getters.getUser;
        }
    }
</script>

<style scoped>

</style>
