<template>
    <v-container fluid>
        <v-row>
            <v-col cols="auto">
                <v-card
                    flat


                >
                    <v-img
                        :src="'/'+book.image"


                    ></v-img>
                </v-card>
            </v-col>
            <v-col cols="auto" >
            <v-card

                flat>
                <v-card-title>
                    <h1 class="title">{{book.name}}</h1>

                </v-card-title>
                <v-card-subtitle>Автор:{{book.author}}</v-card-subtitle>
                <v-card-text v-html="book.description">

                </v-card-text>
                <v-card-actions>
                    <v-btn outlined rounded color="green" @click="AddBook" v-if="!has">Добави към твоята библиотека</v-btn>
                    <v-btn outlined rounded color="red" @click = "removeBook"v-else>Премахни</v-btn>
                    <v-btn outlined rounded color="purple" @click="Download"  v-if="has">Свали</v-btn>

                </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Book",
        props:['id'],
        data:()=>({
            book:{},
            has:false
        }),
        methods:{
            fetchBook(){
                let app = this;
                this.get('/auth/book/'+this.id).then(resp=>{
                    app.book = resp.book;
                    app.has = resp.has;
                })
            },
            AddBook(){
                let app = this;
                this.post('/auth/user/books/add',{
                    book_id:this.book.id
                }).then(()=>{
                   app.$EventBus.$emit('message',{
                       type:'succ',
                       text:'Книгата е добавена към вашата библиотека!'
                   });
                    app.has=true;
                })
            },
            Download(){
                let url = this.book.url.replace('public/','')
                window.location.replace('/'+url);
            },
            removeBook(){
                let app = this;
                this.delete('/auth/user/books/book/'+this.book.id).then(()=>{
                    app.has = false;
                    app.$EventBus.$emit('message',{
                        type:'succ',
                        text:'Книгата е премахната от вашата библиотека!'
                    });
                })
            }
        },

        created() {
           this.fetchBook();
        }
    }
</script>

<style scoped>

</style>
