<template>
    <v-container fluid>
        <h1 class="title">Книги</h1>
        <v-row >
            <v-col cols="12" >
             <app-categories></app-categories>
            </v-col>
            <v-col  cols = "12">
                <v-row>
                    <v-col cols="auto" md="auto" v-for="book in books" :key="book.id">
                        <v-card
                            width="50vh"
                        >

                            <v-img
                                height="200px"
                                width="100%"
                                :src="'/'+book.image"
                            >


                            </v-img>
                            <v-btn
                                fab
                                class="float-right"
                                color="white"
                                small
                                :to="'book/'+book.id"
                            >
                            <v-icon>
                                mdi-arrow-right
                            </v-icon>
                            </v-btn>
                            <v-card-title>{{book.name}}</v-card-title>
                            <v-card-subtitle>Автор {{book.author}}</v-card-subtitle>

                        </v-card>
                    </v-col>
                </v-row>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Categories from "./Categories";
    export default {
        name: "Books",
        components:{
          AppCategories:Categories
        },
        data:()=>({
            books:[],
            category:'*',
            subcategory:'*',
            search:'*',

        }),
        methods:{
          fetchBooks(){
              let app = this;

              this.get('/auth/books/category/'+this.category+'/subcategory/'+this.subcategory+'/search/'+this.search+'/').then(resp=>{
                  app.books = resp.books.data;
              });
          }
        },
        created() {
            let app = this;
            this.fetchBooks();
            this.$EventBus.$on('filters',filters=>{
                app.category = filters.category;
                app.subcategory = filters.subcategory;
                app.fetchBooks();
            })
            this.$EventBus.$on('search',search=>{
               app.search = search;
                app.fetchBooks();
            })

        }
    }
</script>

<style scoped>

</style>
