<template>
    <v-container>
        <v-card flat>
          <v-card-title>
              <v-text-field
                type="text"
                append-icon="mdi-search"
                label="Tърси"
                v-model="search"
                @keydown=""
              >

              </v-text-field>
          </v-card-title>
            <v-card-actions>
                <v-btn color="purple" outlined rounded @click="dialog = true">Филтри</v-btn>
            </v-card-actions>
            <v-divider></v-divider>
        </v-card>
        <appFilters :dialog = "dialog"></appFilters>
    </v-container>
</template>

<script>
    import Filters from "./Filters";
    export default {
        name: "Categories",
        components:{
            appFilters:Filters
        },
        methods:{
          sendData(){
              if(this.search == ''){
                  this.search = '*'
              }

              this.$EventBus.$emit('search',this.search);
          }
        },
        data:()=>({
          search:'*',
            dialog:false,


        }),
        created() {
            let app = this;
            this.$EventBus.$on('close-modal',()=>{
                app.dialog = false;
            })

        },
        watch:{
            search(){
                this.sendData();
            }
        }

    }
</script>

<style scoped>

</style>
