<template>
  <v-dialog v-model="dialog">
      <v-card>
          <v-card-title>
              <span>Филтри</span>
              <v-spacer></v-spacer>
              <v-btn icon @click="closeModal"> <v-icon color="red">mdi-close</v-icon></v-btn>

          </v-card-title>
          <v-chip v-if="cat != '*'" @click="cat='*'">{{cat.name}}</v-chip>
          <v-chip v-if="subcat != '*'" @click="subcat='*'">{{subcat.name}}</v-chip>
      <v-list>
    <v-subheader>Категории</v-subheader>
          <v-list-group
              v-for="category in categories"
              :key="category.id"
              :prepend-icon="category.icon"
              no-action
              color="green"
              @click="cat = category"
          >
              <template v-slot:activator>
                  <v-list-item-content>
                      <v-list-item-title v-text="category.name"></v-list-item-title>
                  </v-list-item-content>
              </template>

              <v-list-item
                  v-for="subcategory in category.subcategories"
                  :key="subcategory.id"
                  @click="subcat = subcategory"
              >
                  <v-list-item-content>
                      <v-list-item-title v-text="subcategory.name"></v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list-group>
      </v-list>
      </v-card>
  </v-dialog>
</template>

<script>
    export default {
        name: "Filters",
        props:['dialog'],
        data:()=>({
            categories:[],
            cat:'*',
            subcat:'*',
            filters:[]
        }),
        methods:{
          closeModal(){
              this.$EventBus.$emit('close-modal');
          },
            sendData(){
              if(this.cat == '*'){
                  this.cat = {
                      id:'*'
                  }
              }
                if(this.subcat == '*'){
                    this.subcat = {
                        id:'*'
                    }
                }
              this.$EventBus.$emit('filters',{
                  category:this.cat.id,
                  subcategory:this.subcat.id
              })
            }
        },
        created() {
            let app = this;
            this.get('/categories').then(resp=>{
                app.categories = resp.categories
;            });

        },

        watch:{
            cat(){
                this.sendData();
            },
            subcat(){
                this.sendData();
            }
        }
    }
</script>

<style scoped>

</style>
