<template>
    <v-app light id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
        >
            <v-list dense>
                <template v-for="item in items">

                    <v-list-item
                        :key="item.text"
                        link
                        :to="item.to"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.name }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app


        >
            <v-app-bar-nav-icon  @click.stop="drawer = !drawer" />

            <v-toolbar-title
                style="width:150px"
                class="ml-0 pl-4"
            >


                <v-toolbar-title >
                   PGMETLib


                </v-toolbar-title>

            </v-toolbar-title>



        </v-app-bar>


        <v-content>
            <v-snackbar
                :color="alert.succ?'success':'error'"
                v-model="alert.show"
                top
                timeout=3000
            >
                {{alert.text}}
            </v-snackbar>
            <app-loader v-show="loading"></app-loader>
            <router-view >

            </router-view>
            <br><br>

<!--            <app-footer></app-footer>-->



        </v-content>
    </v-app>
</template>

<script>

import {menu} from '../env'
import Loader from "./Loader";
    export default {
        name: "App",
        components:{
          appLoader:Loader
        },
        data:()=>({
            drawer:false,
            items:menu,
            loading:false,

            alert:{
                succ:false,
                text:'',
                show:false
            }
        }),
        methods:{
            CheckAuth(){
                let app = this;
                app.loading = true;
                this.get('/auth/user').then(resp=>{
                    app.$store.commit('setUser',resp);
                    setTimeout(()=>{
                        if(!localStorage.tut){
                            app.$router.push('/tutorial/');
                            app.loading = false;
                            return;
                        }

                        if(app.$router.currentRoute.path=='/' || app.$router.currentRoute.path=='/home'){

                            app.$router.push('/library/');
                        }else{
                            app.$router.push(app.$router.route);
                        }

                        app.loading = false;
                    },500);

                }).catch(err=>{
                    app.loading=false
                })
            }
        },

        created() {
            let app = this;
            this.$EventBus.$on('logged',()=>{
                app.CheckAuth();
            })
            this.$EventBus.$on('loading',()=>{
                setTimeout(()=>{
                    app.loading = false;
                },3000)
            })
            this.CheckAuth();


            this.$EventBus.$on('message',message=>{
                        if(message.type=='succ'){
                            app.alert.succ=true;
                            app.alert.text=message.text;
                            app.alert.show = true;
                        }else if(message.type =='err'){
                            app.alert.text=message.text
                            app.alert.show = true;
                        }
                });
        }

    }
</script>

<style scoped>

</style>
