<template>
    <v-overlay>
        <v-progress-circular indeterminate size="64"></v-progress-circular>
        <h1>Моля изчакайте</h1>
    </v-overlay>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style scoped>

</style>
