<template>
    <v-container fluid>
    <v-row
    justify="center"
    >
        <v-col
            cols="12"
        >
            <h1 class="title text-center">PGMETLib Login</h1>

        </v-col>
        <v-col cols="12">
            <v-card
                flat
            >
                <v-text-field
                    label="Потр.име"
                    type="text"
                    v-model="username"
                ></v-text-field>
                <v-text-field
                    label="Парола"
                    type="password"
                    v-model="password"
                ></v-text-field>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outlined rounded block color="green" @click="Login">Вход</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Login",

       data:()=>({
          username:"",
           password:""
       }),
        methods:{
            Login(){
                let app = this;
                this.post('/auth/login',{
                    username:this.username,
                    password:this.password
                }).then(resp=>{
                    localStorage.setItem('access_token',resp.access_token);
                    app.$EventBus.$emit('logged');
                    app.$EventBus.$emit('loading');

                })
            }
        }
    }
</script>

<style scoped>

</style>
