<template>
    <v-container
        fluid
    >
        <h1 class="title">Твоите книги</h1>
        <v-row>
            <v-col cols="auto" v-for="book in books" :key="book.id">
                <v-card
                    width="25vh"
                    height="25vh"
                    :to="'/books/book/'+book.id"
                >
                    <v-img
                        class="white--text align-center"
                        height="100%"
                        :src="'/'+book.image"

                    >
                        <v-overlay
                            :absolute="true"
                            :value="true"
                        >
                            <h1 class="text-center ">{{book.name}}</h1>
                        </v-overlay>
                    </v-img>
                </v-card>
            </v-col>



        </v-row>

    </v-container>
</template>

<script>
    export default {
        name: "Library",
        data:()=>({
            books:[]
        }),
        created() {
            let app = this;
            this.get('/auth/user/books').then(resp=>{
                app.books = resp.books;
            })
        }
    }
</script>

<style scoped>

</style>
